<div class="container">
    <h1 class="text-center">About us</h1>
    <div>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum egestas erat, sodales scelerisque ligula vehicula ac. 
          Curabitur mattis velit a hendrerit auctor. Integer dapibus ornare lacus sit amet malesuada. Fusce sed turpis et libero faucibus pretium et a ligula. 
          Sed non elementum libero. Cras eleifend vestibulum quam sed dictum. Nulla finibus quam non posuere vulputate. Donec vehicula non neque in iaculis. 
          Aenean et dolor quis erat porta convallis et ut nulla. Maecenas gravida, nunc ac consequat laoreet, massa ex consequat nisl, eu sodales sem nibh sit amet nisl. 
          Nunc vitae aliquam erat. Phasellus mollis dolor et leo consequat auctor. In faucibus quam vel porttitor dapibus. Fusce semper ipsum sit amet magna volutpat pulvinar. 
          Mauris finibus vulputate nulla, non pretium dui convallis ut.
      </p>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23068.61066772485!2d-75.7327463926065!3d45.39952886975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce041cb91e6555%3A0x9373de579ade18c2!2sReal%20Canadian%20Superstore!5e0!3m2!1sru!2sua!4v1663442870573!5m2!1sru!2sua" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

